main {
	padding: 20px;
	margin: 20px;
}

body {
	background-color: #FFE5CC;
}

.name {
	text-align: center;
	align-self: center;
	font-size: 45px;
	font-family: 'Lucida Console', monospace;
}

.center {
	text-align: center;
	align-self: center;
	font-size: 20px;
	font-family: 'Lucida Console', monospace;
}

.resume {
	margin: 15px;
}

.list {
	font-size: 20px;
}

.line {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
}

.container {
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
}

.skills {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 10px 10px 10px 20px;
	font-family: 'Lucida Console', monospace;
}

.blocks {
	padding: 10px 10px 10px 20px;
	font-family: 'Lucida Console', monospace;
}

